#ins1
{
	position: fixed; 
	top:150px;
	bottom:400px;
	left:450px;
	right:400px;
	display: none; 
	width: 450px; 
	height: 450px;
	z-index: 101; 
}
#ins2
{
	position: fixed; 
	top:85px;
	bottom:100px;
	left:570px;
	right:200px;
	display: none; 
	width:600px; 
	height:350px; 
	z-index: 101; 
}
#ins3
{
	position: fixed; 
	top:420px;
	bottom:100px;
	left:650px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 180px;
	z-index: 101; 
}
#ins4
{
	position: fixed; 
	top:40px;
	bottom:100px;
	left:305px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 190px; 
	z-index: 101; 
}

#ins5
{
	position: fixed; 
	top:80px;
	bottom:100px;
	left:215px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 300px;
	z-index: 101; 
}

#ins6
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}

#ins1h
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}
#ins2h
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}
#ins3h
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}
#ins4h
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}
#ins5h
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}
#ins6h
{
	position: fixed; 
	top:100px;
	bottom:100px;
	left:430px;
	right:200px;
	display: none; 
	width: 600px; 
	height: 230px; 
	z-index: 101; 
}